.classpath
target/**
/target/**
target/*/*
/target/*/*
target/*/*/*
/target/*/*/*
!/target/eds.war
!target/eds.war
.classpath
.project
.settings
/.settings/*
.settings/**
.settings/*
/.settings/**
.classpath
*.class
*.jar
.settings/org.eclipse.jdt.core.prefs
/target/
target/eds.war
*.war
run.bat
